<div class="container-fluid">
  <div
    class="d-sm-flex justify-content-between align-items-center mb-4"
  >
    <h3
      class="text-dark mb-0"
      style="font-family: 'Dancing Script', serif"
    >
      Profile
    </h3>
    <a
      class="btn btn-primary btn-sm d-none d-sm-inline-block"
      role="button"
      href="#"
      ><i class="fas fa-download fa-sm text-white-50"></i>&nbsp; Edit
      Profile</a
    >
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow">
          <img
            class="rounded-circle mb-3 mt-4"
            src="/assets/img/dogs/image2.jpeg?h=a0a7d00bcd8e4f84f4d8ce636a8f94d4"
            width="160"
            height="160"
          />
          <div class="mb-3">
            <button class="btn btn-primary btn-sm" type="button">
              Change Photo
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="card text-white bg-success shadow">
            <div class="card-body">
              <p class="m-0">In Progress Green</p>
              <p class="text-white-50 small m-0">#1cc88a</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mb-4">
          <div class="card text-white bg-danger shadow">
            <div class="card-body">
              <p class="m-0">Missing Supplies Red</p>
              <p class="text-white-50 small m-0">#e74a3b</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row mb-3 d-none">
        <div class="col">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last
                month
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-success shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto">
                  <i class="fas fa-rocket fa-2x"></i>
                </div>
              </div>
              <p class="text-white-50 small m-0">
                <i class="fas fa-arrow-up"></i>&nbsp;5% since last
                month
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">User Settings</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label
                        class="form-label"
                        for="username"
                        style="color: var(--bs-black)"
                        ><strong>Username</strong></label
                      ><input
                        class="form-control"
                        type="text"
                        id="username"
                        placeholder="user.name"
                        name="username"
                        style="border-color: var(--bs-blue)"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label
                        class="form-label"
                        for="email"
                        style="color: var(--bs-black)"
                        ><strong>Email Address</strong></label
                      ><input
                        class="form-control"
                        type="email"
                        id="email"
                        placeholder="user@example.com"
                        name="email"
                        style="border-color: var(--bs-blue)"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label
                        class="form-label"
                        for="first_name"
                        style="color: var(--bs-black)"
                        ><strong>First Name</strong></label
                      ><input
                        class="form-control"
                        type="text"
                        id="first_name"
                        placeholder="John"
                        name="first_name"
                        style="border-color: var(--bs-blue)"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label
                        class="form-label"
                        for="last_name"
                        style="color: var(--bs-black)"
                        ><strong>Last Name</strong></label
                      ><input
                        class="form-control"
                        type="text"
                        id="last_name"
                        placeholder="Doe"
                        name="last_name"
                        style="border-color: var(--bs-blue)"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <button
                    class="btn btn-primary btn-sm"
                    type="submit"
                  >
                    Save Settings
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-5"></div>
</div>
