/* You can add global styles to this file, and also import other style files */

@import'./assets/css/styles.min.css';
/* @import'.assets/fontawesome/css/all.css'; */
@import'./assets/fontawesome/css/all.css';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', serif;
  color: var(--bs-black);
}

p {
  color: var(--bs-black);
}





